* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
}

button {
    color: #000000;
    background: transparent;
    font-weight: 700;
    height: 30px;
    width: 100px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.logo-text {
    font-weight: 900;
}

.sub-menu {
    display: none;
}

.header ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: #c5c6d080;
    margin-top: 15px;
    margin-left: -15px;
}

.header ul li:hover .sub-menu ul {
    display: block;
    margin: 10px;
}

.header ul li:hover .sub-menu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    text-align: left;
}

.header ul li:hover .sub-menu ul li:last-child {
    border-bottom: none;
}

.hero {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
}

.header ul {
    display: flex;
    gap: 24px;
}

.header ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.hero-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 250px;
    gap: 48px;
}

.left {
    width: 700px;
}

.hero-title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-subtext {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.info-box {
    display: flex;
    background-color: #6d747d30;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 750px;
    height: auto;
    margin-bottom: 10px;
    padding: 30px 30px;
    border-radius: 10px;
}

.hero-img {
    height: 450px;
    border-radius: 360px;
}